body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(119, 119, 119);
  font-size: 17px;
  width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("webagency_images/fonts/Roboto-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("webagency_images/fonts/Roboto-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("webagency_images/fonts/Roboto-italic.ttf") format("ttf");
}

/* Police et placement des titre */
.projets_album h4 {
  margin-bottom: 0;
}

.projets_album p {
  margin-top: 0;
}

.service_entt h2 {
  font-size: 250%;
  font-weight: 900;
  color: green;
  padding-top: 50px;
}

.projet_entt h2 {
  font-size: 250%;
  font-weight: 900;
  color: black;
  padding-top: 50px;
}

h3 {
  color: red;
}

/* fin Police et placement des titre */
#menu {
  position: relative;
}

header {
  z-index: 3;
  background-color: white;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu li a:hover {
  border-top: 2px solid rgb(92, 173, 211);
}

/*On place le menu à droite, on enlève les puces et on espace les élèments*/
.menu li {
  list-style-type: none;
}

.prec i {
  margin-left: 15px;
}

.suiv i {
  margin-right: 15px;
}

nav a {
  display: inline-block;
}

/* On espace les élément du menu, on change la couleur des lettres et on enlève les csqc du lien hypertext*/
.menu li a {
  padding: 20px 30px;
  color: black;
  text-decoration: none;
}

/*!--------------------Banniere--------------------!*/
#menu, .slide {
  font-weight: 700;
  /*police d'écriture*/
  width: 100%;
  /*prend toute la page*/
  overflow: hidden;
}

.emplacement_banniere {
  position: relative;
  /* Sinon ça revient directement sur la 1er banniere */
  display: flex;
  width: 100%;
  height: 850px;
}

#un .emplacement_banniere {
  background: url('webagency_images/images/slider/bg1.jpg') no-repeat center;
  height: 100%;
}

#deux .emplacement_banniere {
  background: url('webagency_images/images/slider/bg2.jpg') no-repeat center;
  height: 100%;
}

/* Effet de changement des images */
#un {
  opacity: 1;
  position: absolute;
  /*Permet la superposition des banniere*/
}

/*on superpose les deux images des qu'on clique la deuxieme image prend le dessus*/
#deux {
  opacity: 0;
}

#deux:target {
  opacity: 1;
}

/* Bouton pour changer d'images*/
.slide nav a {
  z-index: 1;
  /* sinon on peux pas changer d'images*/
  background: rgba(0, 0, 0, .4);
  color: #fff;
  text-decoration: none;
  height: 70px;
  width: 70px;
  border-radius: 40px;
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Pour pas que les touches qui permettent de slider se superposent*/
.suiv {
  right: -28px;
}

.prec {
  left: -28px;
}

/* Texte du slide, placement */
.text_ba {
  margin: 13%;
}

.text_ba {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}

.text_ba h1 span {
  color: rgb(92, 173, 211);
}

.text_ba h2 span {
  color: rgb(92, 173, 211);
}

.text_ba p {
  margin-bottom: 40px;
  font-size: 15px;
}

/* Bouton cliquable */
.text_ba a {
  color: white;
  /*text bouton*/
  background-color: rgb(92, 173, 211);
  padding: 10px 15px;
  /*marge intérieur*/
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 3px solid rgb(68, 148, 187);
}

/*---------SERVICE----------*/
.img_service {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin: 0;
}

.conteneur_services {
  width: 50%;
}

.conteneur_images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/*Mettre les écriture en face des bulles bleus */
.art {
  display: flex;
}

#services {
  position: relative
    /*Pour d'éventuelle repositionnement d'élèments enfant */
}

.services_phrase {
  margin-left: 20px;
  /* pour pas que le texte et la bulle bleu n'entre pas en colission */
  max-width: 600px;
  /* Permet que le texte revienne à la ligne */
}

/* Mise en place bulle bleu */
.logo_service {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* Arrondissement*/
  border: 1px solid rgb(217, 217, 217);
  display: flex;
  align-self: center;
  /* Centrer le logo fontawesome */
  padding-top: 3px;
  /* Centrer le logo fontawesome */
  position: relative;
  /* Positionnement bulle_bleue */
  color: rgb(92, 173, 211);
  min-width: 60px;
  /* Pour que la bulle ne se tasse pas */
}

.img_ordi {
  /*Positionnement de l'image*/
}

.bulle_bleue {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(92, 173, 211);
  position: absolute;
  /*Positionne la bulle bleu en haut à droite de logo_s*/
  top: 25px;
  right: -5px;
}

.service_entt {
  text-align: center;
}

.fa_logo {
  margin: auto;
  font-size: 23px;
  /*Taille des logo font awesome*/
}

/*Mise en place de la sphère bleu*/
.boule hr {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  z-index: 2;
  margin: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  /* Arrondissement*/
  border: 1px solid rgb(92, 173, 211);
  background-color: rgb(92, 173, 211);
}

/*Trait de sépartion*/
.boule {
  width: 200px;
  border: 0;
  height: 1px;
  position: relative;
  /* Positionnement bulle_bleue */
  background-image: linear-gradient(to right, rgba(217, 217, 217, 0), rgba(217, 217, 217, 1), rgba(217, 217, 217, 0));
  margin: auto;
}

/*Trait avec sphère bleu et fond blanc*/
.boule_blanche hr {
  border: 2px solid white;
}

/*----------PROJEYYYYY-----------*/
.conteneur_menu_projet {
  display: flex;
  justify-content: center;
}

.projet_entt {
  text-align: center;
}

#projets {
  background-color: rgb(245, 245, 245);
  padding-bottom: 50px;
  position: relative;
}

.conteneur_menu_projet a {
  text-decoration: none;
  color: #000000;
  background-color: rgb(229, 229, 229);
  padding: 13px;
  position: relative;
}

/*CASE QUI CHANGE DE COULEURS AU SURVOL */
.conteneur_menu_projet .clr_case:hover

/*Le fond devient bleu au survol */
  {
  transition: all 0.5s ease;
  /*Effet de transition lors du survol*/
  color: white;
  background-color: rgb(92, 173, 211);
  border-bottom: 3px solid #468cad;
}

.conteneur_menu_projet .fond

/*Le fond est bleu de base */
  {
  color: white;
  background-color: rgb(92, 173, 211);
  border-bottom: 3px solid #468cad;
}

.conteneur_menu_projet ul {
  list-style-type: none;
  display: flex;
  margin: 20px;
  padding: 40px;
}

/*Création du petit triangle*/
.triangle {
  transform: translate(50%, 50%);
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  border-color: #468CAD transparent transparent transparent;
  position: absolute;
  top: 44px;
  right: 50%;
  cursor: pointer;
}

/*On insère le triangle et on enlève son opacité dans le but de le faire réaparaitre en changeant son opacité quand on passe dessus */
.tri_apparition {
  transform: translate(50%, 50%);
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #468CAD transparent transparent transparent;
  position: absolute;
  top: 44px;
  right: 50%;
  cursor: pointer;
  opacity: 0;
}

/*Couleur en bleu all works et change la couleur quand le curseur passe */
.projets_album {
  display: flex;
  flex-wrap: wrap;
  /*images se mettent cote à cote */
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  /*Recentrer les images */
}

.projets_album figure {
  overflow: hidden;
  /*Pour cacher l'excédent des photo */
  height: 175px;
  /*Reduction de la taille des photos -> cote à cote */
  /*ICI LE PROBLEME JE PENSE */
  width: calc(25% - 30px);
  position: relative;
  margin: 15px;
  /*Pour bien les aligner*/
}

#projets figure img {
  width: 100%;
}

/* Légende au survol */
.description {
  position: absolute;
  height: 40%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  opacity: 0;
  bottom: -40%;
  /*Il se cache en dessous (sous terre)*/
  left: 0;
  transition: all 0.6s ease;
  padding-left: 10px;
}

.projets_album figure:hover .description {
  opacity: 1;
  bottom: 0;
}

/* Bulle bleue avec logo oeil*/
.description div {
  width: 35px;
  height: 35px;
  background-color: rgb(69, 144, 177);
  border-radius: 50%;
  border: 2px solid white;
  /*Centre l'oeil*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Place l'oeil à droite */
  position: absolute;
  right: 10%;
  top: 0px;
  transform: translateY(-50%);
}

/*-----CONTACT-----*/
.google_maps {
  width: 100%;
  height: 600px;
}

.overlay {
  background-color: rgba(92, 173, 211, .4);
  height: 600px;
  width: 100%;
  position: absolute;
}

#contact:hover .overlay {
  display: none;
}

/*Placement à droite du formulaire*/
#formulaire {
  right: 10%;
  position: absolute;
  top: 10%;
}

form {
  background-color: rgba(255, 255, 255, .8);
  /*Fait*/
  padding: 20px;
  padding-right: 30px;
  border-radius: 3px;
  /*Arrondie le bord du formulaire*/
  width: 300px;
  height: 70%;
}

#contact {
  position: relative;
}

form h2 {
  /*Placement de l'entête du formulaire */
  padding: 0px;
  margin: 0px;
  font-size: 180%;
}

input {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 15px;
  /*Sépare les les case avec un légère espaces */
  padding-left: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  padding-left: 10px;
}

.envoyer {
  color: white;
  background-color: rgb(92, 173, 211);
  border-bottom: 3px solid rgb(70, 140, 173);
  border-radius: 3px;
  padding: 5px 15px;
  text-decoration: none;
}

/*-_-_-_-_-_-_-_-_-_-_-_-Checkbox-_-_-_-_-_-_-_-_-_-(-_-)*/
/*Masque le checkbox*/
#nav {
  display: none;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-RESPONSIVE DESIIGN-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
@media screen and (max-width: 780px) {

  /*-_-_-_-_-_-_-PROJETS-_-_-_-_-_-_-*/
  /*Adaptation des images quand l'écran est plus petit*/
  .projets_album {
    display: flex;
  }

  .projets_album figure {
    width: 49%;
    height: 50%;
    margin: 0 1px;
  }

  /*-_-_-_-_-_-_-Menu accueil et bannière mise en place du menu hamburger-_-_-_-_-_-_-*/
  /*Banniere*/
  #menu, .emplacement_banniere {
    height: 450px;
    /* banniere plus petite */
  }

  .menu ul {
    padding: 75px 10px;
    display: none;
    /* Suppression du menu complet */
  }

  .menu li a {
    padding: 12px;
    color: black;
    text-decoration: none;
  }

  .logo {
    position: absolute;
    right: 50%;
  }

  /* Mise en place des contours du menu hamburger */
  label {
    background-color: rgb(92, 173, 211);
    ;
    /*Fond du menu*/
    width: 40px;
    height: 40px;
    border-bottom: solid 4px rgb(92, 173, 211);
    border-radius: 15px;
    cursor: pointer;
    padding-top: 5px;
    position: absolute;
    right: 5%;
    top: 50%;
  }

  /*Design du menu hamburger(3 trait)*/
  label:after {
    content: '';
    display: block;
    width: 20px;
    /* Premier trait du menu */
    height: 2px;
    background: white;
    /*Couleur premier trait*/
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 7px 0px white, 0px 14px 0px white;
    /* les 2 tiret suivants */
  }

  /* Apparition lors du clic */
  [type="checkbox"]:checked~ul {
    z-index: 5;
    position: absolute;
    top: -85px;
    right: 80px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  /*Placement du menu lors de ca réapparition après le clic */
  header nav ul li {
    width: 50%;
    /*Met 25 % pour moins de bordure*/
    text-align: right;
    margin-left: 0px;
    font-size: 1em;
    background: aliceblue;
  }

  /* Nouvel effet lors du survol du menu*/
  .menu li:hover {
    border-top: 0;
  }

  .menu li a:hover {
    background-color: #dadae7;
  }

  /*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_SERVICES-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
  .conteneur_images {
    flex-wrap: wrap;
    /* Présentation des services en colonnes */
  }

  /*Sinon l'image de l'ordi ne prend pas toute la largeur*/
  .img_service {
    width: 100%;
  }

  .img_service img {
    width: 100%;
  }
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Téléphone-_-_-_-_-_-_-_-_-_--_-_-_-_-_-_-*/
@media all and (max-width: 480px) {
  .projets_album {
    display: flex;
    flex-direction: column;
  }

  /*Les images de la section projet prennent toutes la largeur*/
  .projets_album figure {
    width: 100%;
    height: 100%;
    margin: 0 1px;
  }

  /*Le background du menu projet devient transparent*/
  .conteneur_menu_projet li a {
    background-color: transparent;
  }

  /*Le triangle de all works disparait sur format mobile*/
  .triangle {
    border-color: transparent;
  }

  body {
    width: 100%;
  }

  /*Pour un meilleur visuel dans la section service au niveau des paragraphes*/
  .conteneur_services {
    width: 85%;
  }

  /*BANNIERE*/
  #un .emplacement_banniere {
    height: 500px;
    background-position-x: 60%;
    /*Repositionne l'image de la banniere*/
  }

  .logo {
    /*Le logo reste entièrement présent lors de la réduction de la taille de l'écran*/
    position: absolute;
    right: 20%;
  }

  /*****PROJET*****/
  .conteneur_menu_projet ul {
    flex-direction: column;
    /* menu interne aux projets verticalisé */
    width: 80%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
  }

  .conteneur_menu_projet ul li {
    padding: 4%;
  }

  /*Repositionnement du menu ham quand l'écran et plus petit*/
  label {
    position: absolute;
    top: 40%;
    left: 80%;
  }

  /*Les bulle avec un logo font-awesome, placement au dessus du paragraphe*/
  .art {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .logo img {
    max-width: 200px;
    /* Adaptation taille du logo WebAgency */
  }

  #formulaire {
    position: static;
    /*Pour que le formulaire revienne à la ligne et se positionne en bas de la map*/
    width: 100%;
    /* Adaptation formulaire de contact */
    margin: 0;
    /*Formulaire reste bien centré*/
    display: flex;
    justify-content: center;
  }

  /* Adaptation taille textes */
  h1, h2 {
    font-size: 1.5em;
  }

  .service_entt h2 {
    /*Réduction de l'espacement entre service et la banniere*/
    padding-top: 30px;
  }

  /*Repositionnement du texte de la banniere*/
  .text_ba {
    position: absolute;
    top: 15%;
    font-size: 1em;
  }

  /* Adaptation taille du slider, slider plus petit */
  .emplacement_banniere {
    height: 350px;
  }

  /* Désactivation du slide */
  .emplacement_banniere nav {
    display: none;
  }
}

/*Adaptation menu projet mobile*/
@media all and (min-width: 480px) {

  /*Apparition triangle au survol de la case */
  .case_bleu :hover .tri_apparition {
    opacity: 1;
  }
}
